<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Expenses</ion-title>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>
<!-- Content -->
<ion-infinite-scroll [disabled]="lastPageReached || loading" (ionInfinite)="loadNextExpensePage($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
<ion-content class="ion-padding">
  <ion-grid class="ion-padding">  <!-- Static GUI[formGroup]="searchForm" -->
    <ion-row>
      <!-- Sort -->
      <ion-col size="12" size-sm="4">
        <ion-item>
          <ion-icon name="swap-vertical" slot="start"></ion-icon>
          <ion-select interface="popover"> <!-- Static GUI formControlName="sort"> -->
            <!-- Static GUI  <ion-select-option *ngFor="let sortOption of sortOptions" [value]="sortOption.value">
               {{sortOption.label}}
             </ion-select-option> -->
           </ion-select>
         </ion-item>
       </ion-col>
       <!-- Categories -->
      <ion-col size="12" size-sm="4">
        <ion-item>
          <ion-icon name="pricetag" slot="start"></ion-icon>
          <ion-select interface="popover" placeholder="Category" [multiple]="true"> <!-- Static GUI formControlName="categoryIds"> -->
            <!-- Static GUI<ion-select-option role="option" *ngFor='let category of categories'
                               [value]="category.id">{{category.name}}</ion-select-option> -->
         </ion-select>
       </ion-item>
     </ion-col>
     <!-- Search -->
      <ion-col size="12" size-sm="4">
        <ion-item>
          <ion-icon name="search" slot="start"></ion-icon>
          <ion-input maxlength="40" placeholder="Search" [clearInput]="true"> <!-- Static GUI formControlName="name" --></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Expense List -->
  <ion-list [ngSwitch]="expenseGroups?.length" inset="true">
    <!-- Skeleton -->
    <ng-container *ngSwitchCase="null">
      <ion-item *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
        <ion-label>
          <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ng-container>
    <!-- Empty List -->
    <ion-item *ngSwitchCase="0">
      <ion-icon slot="start" name="alert-circle-outline"></ion-icon>
      <ion-label> No Expenses found </ion-label>
    </ion-item>
    <!-- Expenses -->
    <ng-container *ngSwitchDefault>
      <ion-item-group *ngFor="let expenseGroup of expenseGroups">
        <ion-item-divider>
          <ion-label>
            {{ expenseGroup.date | date:'dd.MM.yyyy' }}
          </ion-label>
        </ion-item-divider>
        <ion-item button="true"
                  *ngFor="let expense of expenseGroup.expenses"
                  [detail]="true"
                  [disabled]="loading"
                  (click)="openModal(expense)">
          <ion-label>
            <ion-grid>
              <ion-row>
                <ion-col>{{ expense.name }}</ion-col>
                <ion-col class="ion-text-center" *ngIf="expense.category">
                  <ion-icon name="pricetag"></ion-icon>
                  {{ expense.category.name }}
                </ion-col>
                <ion-col class="ion-text-end">{{ expense.amount | currency }}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        </ion-item>

      </ion-item-group>
    </ng-container>
  </ion-list>
  <!-- Add button -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="md fab-horizontal-end fab-vertical-bottom hydrated">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add" role="img" class="md hydrated"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
  <!-- Footer -->

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="addMonths(-1)">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{ date | date:'MMMM yyyy' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addMonths(1)" slot="end">
        <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
