<ion-header>
  <ion-toolbar>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon name="swap-vertical" slot="start"></ion-icon>
          <ion-select interface="popover" value="Name (A-Z)">
            <ion-select-option value="Name (Ascending)">Name (Ascending)</ion-select-option>
            <ion-select-option value="Name (Descending)">Name (Descending)</ion-select-option>
            <ion-select-option value="Created at (Ascending)">Created at (Ascending)</ion-select-option>
            <ion-select-option value="Created at (Descending)">Created at (Descending)</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-icon name="search" slot="start"></ion-icon>
          <ion-input [clearInput]="true" placeholder="Search"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item>
      <ion-label>Test Item 1</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Test Item 2</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Test Item 3</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Test Item 4</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Test Item 5</ion-label>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="md fab-horizontal-end fab-vertical-bottom hydrated">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add" role="img" class="md hydrated"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
