<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()" [disabled]="submitting">
        <ion-icon slot="start" name="close"></ion-icon>
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-title>{{category.id ? 'Edit' : 'Add'}} category</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()" [disabled]="categoryForm.pristine || categoryForm.invalid || submitting">
        <ion-icon slot="start" name="save"></ion-icon>
        Save
      </ion-button>
    </ion-buttons>
    <!-- Progress Bar -->
    <ion-progress-bar *ngIf="submitting" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>
<!-- Content -->
<ion-content class="ion-padding" [formGroup]="categoryForm">
  <ion-item>
    <ion-icon name="text" slot="start"></ion-icon>
    <ion-input
      [disabled]="submitting"
      formControlName="name"
      maxlength="40"
      placeholder="Enter the category's name"
      required="true"
    ></ion-input>
  </ion-item>
  <ion-fab *ngIf="category.id" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="delete()" color="danger" [disabled]="submitting">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
